<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
    <meta charset="UTF-8">
    <title>Vendedores</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: header}"></header>
<br/>
<td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_VENDEDOR')"><a
        th:href="@{/new_vendedor}">
    <button type="button" class="btn btn-success">Ingresar Nuevo Vendedor</button>
</a></td>
<br/>
<div class="container p-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>VENDEDORES</h4>
                </div>
                <div th:if="${vendedores != null and !vendedores.empty}">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <br>
                            <th>ID VENDEDOR</th>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>CORREO</th>
                            <th>CELULAR</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{index.edit}">Editar</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{index.delete}">Eliminar</th>
                        </tr>
                        </thead>
                        <tr th:each="vendedor : ${vendedores}">
                            <td th:text="${vendedor.id_vendedor}"></td>
                            <td th:text="${vendedor.nombre}"></td>
                            <td th:text="${vendedor.apellido}"></td>
                            <td th:text="${vendedor.correo}"></td>
                            <td th:text="${vendedor.celular}"></td>
                            <td sec:authorize="hasAnyRole('ROLE_USER')"><a th:href="@{/editar_vendedor/} + ${vendedor.id_vendedor}">
                                <button type="button" class="btn btn-info">Editar</button>
                            </a></td>
                            <td sec:authorize="hasAnyRole('ROLE_USER')"><a
                                    th:href="@{/eliminar_vendedor/} + ${vendedor.id_vendedor}">
                                <button type="button" class="btn btn-danger">Eliminar</button>
                            </a></td>
                        </tr>
                    </table>
                </div>
                <div th:if="${vendedores == null or vendedores.empty}">
                    Bd Empty
                </div>
                <footer th:replace="~{layout/plantilla :: footer}"></footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>